html {
    font-family: Consolas, Menlo, monospace;
    font-size: small;
    background-color: #fbfbfb;
}
body {
    margin: 0 20px 20px 20px;
}
canvas {
    border: 1px solid #e6e6e6;
    background-color: #fff;
    box-shadow: 0px 0px 5px #e6e6e6;
}
a         { color: #8494c1; text-decoration: none; }
a:visited { color: #ae84c1; }
a:hover   { color: #5b6786; text-decoration: underline; }